body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

.App {
  border: 1px solid gray;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;

}

form input[type="text"] {
  width: 50%;
  border: 1px solid lightblue;
  padding: 20px;
  font-size: 20px;
}

form button {
  width: 20%;
  padding: 20px;
  font-size: 20px;
}

.searchWrapper {
  color: rgb(34, 33, 33);
  background-color: gray;
  padding: 5px;
  margin: 20px;
}
